---
layout: default
title: Home
notitle: true

# groups of columns of {roles: list, width: num, image: bool}
role-tables:
- - roles: [faculty]
    width: 5
    image: true
  - roles: [postdoc, grad]
    width: 7
    image: true
- - roles: [collab]
    width: 5
    image: false
  - roles: [alum]
    width: 7
    image: false

---

<div class="jumbotron">
    <p>
        The <b>Ingeniería de Organización y Logística Research Group</b> at <b>Universidad Politécnica de Madrid</b> researches in different areas related to Operations Research and Logistics. 
    </p>
</div>

<p>The Ingeniería de Organización y Logistics Research Group (IOL) was founded in 2005. IOL Research Group became a recognized research group of the UPM in 2005. However, the group has a long history of research, development, innovation and transfer of research results in the Industrial Engineering area. In fact, members of this research group were founders of the CEL (Spanish Logistics Center), in the 1970s.</p>

<p>Our methods and approaches have been forerunners of the current concept of logistics in organizations.</p>

<p>These are our research lines:</p>
 <ul>
  <li>Math-based Decision Making in Logistics and Operations</li>
  <li>Supply Chain Management</li>
  <li>Applied Complexity Science </li>
  <li>Behavioural Operations Research </li>
  <li>Scheduling</li>
  <li>Simulation</li>
</ul> 
<br></br>

<div id="people">
    <h2>People</h2>
    {% for role-table in page.role-tables %}
        <section class="people row justify-content-between">
            {% for role-column in role-table %}
                <div class="col-md-{{ role-column.width }}">
                    {% for role in role-column.roles %}
                        {% include role-people.html role=role image=role-column.image %}
                    {% endfor %}
                </div>
            {% endfor %}
        </section>
    {% endfor %}
</div>

<section>
    <h2>News</h2>
    <ul class="news list-unstyled">
        {% for post in site.posts limit: site.front_page_news %}
            {% include news-item.html item=post %}
        {% endfor %}
    </ul>
    {% assign numposts = site.posts | size %}
    {% if numposts >= 1 %}
        <p>
            <span class="fa fa-fw fa-history"></span>
            <a href="{{ site.base }}/blog.html">Older posts&hellip;</a>
        </p>
    {% endif %}
</section>

